.GoodsTable
{
  border: solid rgb(129, 129, 129) 5px;
  border-collapse: collapse;
  background-color: rgb(218, 226, 226);
  text-align: center;
}

.GoodsTable > .TableName
{
  font-weight: bold;
  font-size: large;
  color: rgb(8, 104, 104);
}

.GoodsTable .ColomnName
{
  color: rgb(62, 62, 145);
  border: solid rgb(129, 129, 129) 3px;
  padding: 15px;
}